body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 30px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    min-height: 40px;
    min-width: 120px;
}

.content-wrapper {
    border: solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper-left {
    border: solid maroon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    gap: 30px;
    padding: 50px;
    font-size: larger;
}

#container {
    padding: 50px;
    display: grid;
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
}

 .grid {
    border: solid rgb(0, 0, 0) 1px;
    background-color: rgb(255, 255, 255);
 }

 .gridHover {
    background-color: blue;
 }

 .slider {
    width: 200px;
 }

 #size-picker {
    text-align: center;
 }