body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 30px;
}

#container {
    padding: 50px;
    display: grid;
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
}

 .grid {
    border: solid rgb(0, 0, 0) 1px;
    background-color: rgb(255, 255, 255);
 }

 .gridHover {
    background-color: blue;
 }