body {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
    max-height: 280px;
    max-width: 280px;
}

 .grid {
    border: solid black 1px;
    width: 15px;
    height: 15px;
    display: flex;
    flex-wrap: nowrap;
 }